# ignore from source code zip

.git export-ignore
.gradle export-ignore
.idea export-ignore
.run export-ignore
.src export-ignore
.github export-ignore
*LICENSE export-ignore
*license.txt export-ignore
*README.md export-ignore